
body{
    background-color:#F7F7F7;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
}
.weather-app{
    background-color:#1E90FF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 35px;
}
header{
    border-bottom: 2px solid #F0F4F8;
    padding: 0 0 30px 0;
}
.search-input{
    background-color: rgb(240, 236, 236);
    padding: 10px;
    width: 450px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    border: none;
}
.search-btn{
    background-color: #FF6F61;
    margin-left: 10px;
    width: 110px;
    padding: 10px;
    font-size: 18px;
    color: #333333;
    border: none;
    border-radius: 5px;
}
.col-8 {
    margin-bottom: 30px;
}
.col-8 h1{
    margin-top: 25px;
}
.col-8 strong{
    color: #64342f;
}
.col-4{
    font-size: 40px;
    font-weight: bolder
}
.col-4 {
    display: flex;
    align-items: center;
}

.weather-app-icon,
.weather-app-temperature,
.weather-app-unit {
    margin: 0 5px;
}
a{
    color: #64342f;
}
.col-md-2 {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}
h5{
    color: rgb(156, 154, 154)
}
.mt-2{
    color: #FF6F61;
}

footer {
    text-align: center;
    font-size: 15px;
    border-top: 2px solid #F0F4F8;
    padding: 30px 0 0 0;
}